autopep8==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
docxtpl==0.6.4
Flask==1.0.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.6.2
MarkupSafe==1.1.1
pycodestyle==2.5.0
python-docx==0.8.7
python-http-client==3.2.7
requests==2.23.0
sendgrid==6.2.2
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.1
